---
// Code in the frontmatter gets executed on the server
// Note how we have access to the `fetch` api, as well as top level await here

import Layout from '../../layouts/Layout.astro'

try {
    const { id } = Astro.params;
    let res = await fetch(`http://localhost:8000/api/listings/${id}`);

    if (!res.ok) {
        throw new Error(`Fetch failed with status ${res.status}`);
    }

    let listing = await res.json();
    // Proceed with using the 'listing' data
} catch (error) {
    console.error('Error fetching data:', error);
    // Handle the error accordingly, e.g., display a message to the user or perform necessary actions
}

---

<Layout>
  <article>
    <div class="px-4 py-8 md:px-6 md:py-10 lg:py-12 pb-0">
      <div class="mx-auto w-full max-w-3xl">
        <h1 class="mb-3 text-3xl font-semibold tracking-tighter text-slate-800 md:text-4xl">{listing.title}
        </h1>
        <p class="font-serif italic tracking-tighter text-slate-500">Apr 12, 2022</p>
      </div>
    </div>
    <section class="px-4 py-8 md:px-6 md:py-10 lg:py-12">
      <div class="mx-auto w-full max-w-3xl">
        <div class="font-serif leading-relaxed md:text-xl md:leading-relaxed">
          <p class="mb-7 last:mb-0">{listing.text}</p>
        </div>
      </div>
    </section>
  </article>

</Layout>
