    <form>
        <div>
            {{l.rank}} - <input type="text" name="listing_{{l.pk}}_title" value="{{l.title}}"
                id="listing_{{l.pk}}_title" />
        </div>
        <div>
            <textarea name="listing_{{l.pk}}_text" id="listing_{{l.pk}}_text" cols="30" rows="10">{{l.text}}</textarea>
        </div>
        <button hx-put="{% url 'listings_app:listing_details_partial' l.pk %}" hx-target="#todo_list"
            hx-swap="innerHTML">Update</button>
        <button hx-delete="{% url 'listings_app:listing_details_partial' l.pk %}" hx-target="#todo_list"
            hx-swap="innerHTML">Delete</button>
    </form>
